.containerNews {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.tag {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tagItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #0c4fd3;
  gap: 16px;
  padding: 10px 12px;
}

.textTag {
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.titleNews {
  font-size: 32px;
  font-weight: 700;
  color: #181818;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
}

/* Grid: 4 columns per row */
.regularGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.regularCard {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.2s ease;
  height: 303px;
}

/* .regularCard:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
} */

.regularImageContainer {
  overflow: hidden;
}

.regularImage {
  width: 100%;
  height: 197px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* .regularImage:hover {
  transform: scale(1.05);
} */

.regularContent {
  padding: 10px;
}

.regularTitle {
  font-size: 18px;
  font-weight: 600;
  color: #181818;
  margin: 8px 0 4px;
  font-family: "Space Grotesk", sans-serif;
}

.regularDate {
  font-size: 14px;
  color: #4e4e4e;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 2rem;
}

.pageBtn {
  background: #e4e4e4;
  color: #181818;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.total {
  font-size: 16px;
  color: #000000;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
  margin-left: 35px;
  margin-right: 35px;
  background-color: transparent;
  font-weight: 400;
}

/* 
.pageBtn:hover:not(:disabled) {
  background: #f0f0f0;
} */

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.activePage {
  color: black;
}
